@{
}

<div class="row" ng-controller="homeController">
    <fieldset>
        <legend>{{Title}}</legend>
        <div class="col-md-12">
            <div ui-grid="gridOptions"/>
        </div>
    </fieldset>
</div>

@*<section ui-view="home"></section>*@